<div class="calculator" id="calculator">
    <div class="calculatorTitleHolder">
        <h1>Strømregning kalkulator</h1>
        <i class="fa-solid fa-xmark" id="close-calculator"></i>
    </div>
    <h3>Her kan du beregne din strømregning</h3>

    <h3>Antall Kwh</h3>
    <input type="number" id="input" placeholder="Antall kWh">

    <div id="resultBtn">
        <h3>Regn ut</h3>
    </div>

    <h3>Din Stømregning vil bli cirka</h3>
    <h2 id="result">[resultat]</h2>
</div>