<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="openMenuHolder">
        <div id="openMenuBtn" class="openMenuBtn">
            <div class="openMenuIcon">
                <i class="fa-solid fa-location-dot fa-2xl"></i>
            </div>
        </div>
    </div>
    <div id="locationSelector" class="parent">
        <div class="div1">
            <div>Oslo</div>
            <img src="/img/Oslo.jpg">
        </div>
        <div class="div2">
            <div>Kristiansand</div>
            <img src="/img/Kristiansand.jpg">
            <p>Av Millars – Eget verk, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=62858552</p>
        </div>
        <div class="div3">
            <div>Bergen</div>
            <img src="/img/Bergen.jpg">
        </div>
        <div class="div4">
            <div>Molde</div>
            <img src="/img/Molde.jpg">
            <p>Av Erik den yngre – Eget verk, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=35901157</p>

        </div>
        <div class="div5">
            <div>Trondheim</div>
            <img src="/img/Trondheim.jpg">
        </div>
        <div class="div6">
            <div>Tromsø</div>
            <img src="/img/Tromso.jpg">
            <p>Av Siri Uldal – Eget verk, CC BY-SA 4.0, https://commons.wikimedia.org/w/index.php?curid=51801484</p>
        </div>
    </div>
</body>
</html>