<div class="openMenuHolder">
    <div id="openMenuBtn" class="openMenuBtn">
        <div class="openMenuIcon">
            <i class="fa-solid fa-location-dot fa-xl"></i>
        </div>
    </div>
</div>
<div class="locationSelectorParent" id="locationSelector">
    <div class="location01">
        <h3>Oslo</h3>
    </div>
    <div class="location02">
        <h3>Kristiansand</h3>
    </div>
    <div class="location03">
        <h3>Bergen</h3>
    </div>
    <div class="location04">
        <h3>Molde</h3>
    </div>
    <div class="location05">
        <h3>Trondheim</h3>
    </div>
    <div class="location06">
        <h3>Tromsø</h3>
    </div>
</div>