<div class="openMenuHolder">
    <div id="openMenuBtn" class="openMenuBtn">
        <div class="openMenuIcon">
            <i class="fa-solid fa-location-dot fa-xl"></i>
        </div>
    </div>
</div>
<div class="locationSelectorParent" id="locationSelector">
    <div class="location01">
        <a href="/city">
        <h3>Oslo</h3>
        <img src="/img/Oslo.jpg">
        </a>
    </div>
    <div class="location02">
        <a href="/city">
        <h3>Kristiansand</h3>
        <img src="/img/Kristiansand.jpg">
        </a>
    </div>
    <div class="location03">
        <a href="/city">
        <h3>Bergen</h3>
        <img src="/img/Bergen.jpg">
        </a>
    </div>
    <div class="location04">
        <a href="/city">
        <h3>Molde</h3>
        <img src="/img/Molde.jpg">
        </a>
    </div>
    <div class="location05">
        <a href="/city">
        <h3>Trondheim</h3>
        <img src="/img/Trondheim.jpg">
        </a>
    </div>
    <div class="location06">
        <a href="/city">
        <h3>Tromsø</h3>
        <img src="/img/Tromso.jpg">
        </a>
    </div>
</div>