<div class="topbarBg">
    <div class="topbarGridParent">
        <!-- Logo -->
        <div class="topbarGridItem1">
            <div class="topbarGridItem3">
            <div class="titleFlex">
                <a href="/">
                <div>
                    <img src="/img/favicon.png" class="topbarLogo">
                </div>
                </a>
                <div class="tag">
                    Spotpris.eu - Gjør det enkelt å spare penger
                </div>
            </div>
        </div>
            
              
            </div>
        <!-- Space -->
        <div class="topbarGridItem2">
            <h1>{{city}}</h1>
        </div>
        <!-- Buttons -->
        <div class="topbarGridItem3">
            <div class="buttonsFlex">
                <a href="/contact">
                <div>
                    <h3 class="contactText">Kontakt</h3>
                </div>
                </a>
                <a href="/about">
                <div>
                    <h3 class="aboutText">Om oss</h3>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>