<div class="topbarBg">
    <div class="topbarGridParent">
        <!-- Logo -->
        <div class="topbarGridItem1">
            <img src="/img/favicon.png" class="topbarLogo">
        </div>
        <!-- Space -->
        <div class="topbarGridItem2">
            
        </div>
        <!-- Buttons -->
        <div class="topbarGridItem3">
            <div class="buttonsFlex">
                <div>
                    <h3>Kontakt</h3>
                </div>
                <div>
                    <h3>Om oss</h3>
                </div>
            </div>
        </div>
    </div>
</div>