/* Variables */
:root {
    --bg-color: #ACB0BD;
    --accent-color: #416165;
    --accent-color-dark: #0B3948;
    --text-color: #FFFFFF;
}



/* General */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.bg{
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
}



/* Topbar */
.topbarLogo {
    width: 3em;
    margin: 1em;
}

.tag {
    font-size: 1em;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

.topbarBg {
    background-color: var(--accent-color);
}

.topbarGridParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .topbarGridItem1 { 
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
    }
    .topbarGridItem2 { grid-area: 1 / 2 / 2 / 3;
        text-align: center; }
    .topbarGridItem3 { grid-area: 1 / 3 / 2 / 4; }

/* ButtonsFlexbox */
.buttonsFlex {
    display: flex;
    justify-content: space-evenly;
}

    .buttonsFlex > a {
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin: 0.5em;
        background-color: var(--accent-color-dark);
        color: var(--text-color);
        border-radius: 0.5em;
        text-decoration: none;
    }


    .titleFlex {
        display: flex;
        justify-content: space-evenly;
    }
    .titleFlex > div {
        text-align: center;
    }
/* Open Menu Button */
.openMenuHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.openMenuBtn {
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 2em;
    padding: 1em;
    border-radius: 0.5em;
}


/* Location Menu */

.locationSelectorParent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    }
    
    .location01 { grid-area: 1 / 1 / 2 / 2; }
    .location02 { grid-area: 1 / 2 / 2 / 3; }
    .location03 { grid-area: 1 / 3 / 2 / 4; }
    .location04 { grid-area: 2 / 1 / 3 / 2; }
    .location05 { grid-area: 2 / 2 / 3 / 3; }
    .location06 { grid-area: 2 / 3 / 3 / 4; }

.locationSelectorParent > div {
    position: relative;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 1.75em;
    border-radius: 0.5em;
    text-align: center;
}
.locationSelectorParent > div > a > img {
    opacity: 0;
    width: 300px;
    border-radius: 0.5em;
}
.locationSelectorParent > div:hover > a > img {
    opacity: 1;
    transition: opacity 0.5s;
}
.locationSelectorParent > div > a > h3 {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
}

/* Text */

h3 {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

h1 {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}


/* City Template */

.cityParent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    }
    
    .cityHeader { grid-area: 1 / 1 / 2 / 10; }
    .cityMain { 
        grid-area: 2 / 4 / 4 / 7;
        background-color: var(--accent-color);
        border-radius: 2em;
        padding: 1em;
    }
        .topTextMain {
            margin-left: 2em;
            text-align: left;
            font-size: 1.5em;
        }
        .midTextMain {
            text-align: center;
            font-size: 6em;
        }
        .botTextMain {
            text-align: right;
            font-size: 1.5em;
            margin-right: 2em;
        }
    .cityInfo1 { 
        grid-area: 4 / 3 / 6 / 5; 
        background-color: var(--accent-color);
        border-radius: 1em;
        padding: 1em;
        margin: 2em;
    }
    .cityInfoSpace { grid-area: 4 / 5 / 6 / 6; }
    .cityInfo2 {
        grid-area: 4 / 6 / 6 / 8;
        background-color: var(--accent-color);
        border-radius: 1em;
        padding: 1em;
        margin: 2em;
        
    }
        .topTextInfo {
            text-align: left;
            font-size: 1.5em;
        }

        .midTextInfo {
            text-align: center;
            font-size: 5em;
        }
    .cityAds1 {
        grid-area: 2 / 1 / 6 / 3; 
         background-color: var(--accent-color-dark);
        text-align: center;}
    .cityAds2 { 
        grid-area: 2 / 8 / 6 / 10; 
        background-color: var(--accent-color-dark);
        text-align: center;}  