html {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
body {
    margin: 0;
    background-color: rgb(23, 37, 37);
}
p {
    color: white;
    font-size: 1em;
    font-family: 'Bahnschrift', sans-serif;
    display: inline;
}

h1{
    color: white;
    font-family: 'Bahnschrift', sans-serif;
}
h2{
    color: white;
    font-family: 'Bahnschrift', sans-serif;
}
h3{
    color: white;
    font-family: 'Bahnschrift', sans-serif;
}

.textBox {
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.3em;
}

.form {
    text-align: center;
}

.loginBar {
    text-align: center;
    margin-top: 15em;
}

.adminBtn {
    background-color: rgb(0, 79, 79);
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.5em;
    height: 3em;
    width: 3em;
    margin: 0.5em;
    position: relative;
    transition: all 0.5s;
}
.adminBtn:hover {
    background-color: rgb(0, 102, 102);
    scale: 1.1;
}

.adminBtn > i {
    color: white;
    position: absolute;
    right: 15%;
    top: 50%;
    margin: auto;
}


.btnHolder {
    text-align: center;
}
.btnHolder > div {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(0, 79, 79);
    height: 3em;
    width: 3em;
    transition: all 0.5s;
    margin-left: 2em;
    margin-right: 2em;
}
.btnHolder > div > i {
    color: white;
    padding-top: 1em;
}

.btnHolder > div:hover {
    background-color: rgb(0, 102, 102);
    scale: 1.1;
}
