.parent {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-color: blueviolet;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }

.parent > div {
    position: relative;
    text-align: center;
}
    
.parent > div > div {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    }


.parent > div > img {
    width: 300px;
}

.openMenuBtn {
    padding: 2em;
    background-color: rgb(255, 0, 0);
    border-radius: 15%;
    height: 1em;
    width: 1em;
    transition: all 0.5s ease;
}
.openMenuBtn:hover {
    background-color: rgb(255, 0, 0);
    scale: 1.1;
}