<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerInfo}}
    <title>{{title}}</title>
</head>
<body>
    <div class="bg">
        <div class="topbar">
            {{>topbar}}
        </div>
        <a href="/data/data.json">
        <div>
            <h3>Data</h3>
        </div>
        </a>
        <h1>this page is not done</h1>
    </div>
</body>
</html>