<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerInfo}}
    <script src="/script/graph.js" defer></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="bg">
    <div class="cityParent">
        <div class="cityHeader">
            {{>topbar}}
        </div>
        <div class="cityMain">
            <h3 class="topTextMain">Gjennomsnitts spotpris er</h3>
            <h1 class="midTextMain">{{spotpris}}</h1>
            <h3 class="botTextMain">øre</h3>
        </div>
        <div class="cityInfo1">
            <h3 class="topTextInfo">Endring siden {{lastMonth}}</h3>
            <h1 class="midTextInfo">{{okning}}%</h1>
        </div>
        <div class="cityInfoSpace"></div>
        <div class="cityInfo2">
            <h3 class="topTextInfo">Graf</h3>
        </div>
        <div class="cityAds1">
            <h3>annonse</h3>
        </div>
        <div class="cityAds2">
            <h3>annonse</h3>
        </div>

    </div>
    </div>
</body>
</html>