<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerInfo}}
    <script src="/script/client.js" defer></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="bg">
        <div class="topbar">
            {{>topbar}}
        </div>
        <div class="locationPartial">
            {{>newLocation}}
        </div>
    </div>
</body>
</html>