<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/newStyle.css">
    <script src="https://kit.fontawesome.com/0264550dda.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <script src="/script/client.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="bg">
        <div class="topbar">
            {{>topbar}}
        </div>
        <div class="locationPartial">
            {{>newLocation}}
        </div>
    </div>
</body>
</html>